<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>

    <main>
        <% data.forEach(element=> { %>
            <article>
                <h1>
                    <%= element.title %>
                </h1>
                <span>
                    <%= element.publishedAt %>
                </span>
                <img src="<%= element.urlToImage %>" alt="">
                <p>
                    <%= element.description %>
                </p>
                <div>
                    <h2>
                        <%= element.author %>
                    </h2>
                    <a href="/">Click4More</a>
                </div>
            </article>
            <% }) %>
    </main>
</body>

</html>